body {
    background-color:orange;
    font-family: Arial, sans-serif;
}

main {
    background-color: lightgray;
    padding: 10px;
}

section{
    text-align:center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

h1 {
    color: rebeccapurple;
    align-items: center;
    font-weight: bold;
}

.flex-container {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
}

.flex-item {
    
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: gray;
}

img {
    display: flex;
    margin: auto;
    width: 100%;
}

.toolbar {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 10;
    display: flex;
    justify-content: center;
  }

li {
    margin: 10px;
}

.toolbar button{
        font-size: 20px;
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
}

footer{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

input {
    text-align: center;
    border-width: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.Jeu{
    padding-top: 10px;
    background-color: orange;
    font-weight: bold;
    border-radius: 10px;    
    width: 100px;
    height: 150px;
}
label{
    font-weight: bolder;
    font-style: italic;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

#Message{
    font-weight: bold;
    color: red;
}